.navbar {
    height: 70px;
    background-color: #062b5c;
    color: white;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 40px;
}

.logo {
    font-size: 22px;
    font-weight: bold;
}

.nav-links {
    display: flex;
    gap: 30px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 14px;
}

.nav-links a:hover {
    color: #ff7a45;
}

.nav-icons {
    display: flex;
    gap: 18px;
    font-size: 18px;
}